<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para Exemplificar a construção de um cadastro em Angular!!
    </mat-card-subtitle>
</mat-card>

<mat-expansion-panel class="panel mat-elevation-z3">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Tecnologias Utilizadas
        </mat-panel-title>
        <mat-panel-description>
            Um resumo das tecnologias utilizadas para a criação do projeto
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
        <li>Angular 10.0</li>
        <li>Angular Material</li>
        <li>Back-End simples feito com o JSON Server</li>
    </ul>
</mat-expansion-panel>